{%extends "base.html" %}

{% block title %}Common Chat{% endblock %}
{% block extra_head %}
     <script type="text/javascript" src="http://ip-jobs.staff-base.spb.ru/ip.cgi"></script>
     <script>
        $(document).ready(function(){
             <!--csrf-token for ajax request-->
                  var csrft = jQuery("[name=csrfmiddlewaretoken]").val();

                 function csrfSafeMethod(method) {
                     // these HTTP methods do not require CSRF protection
                     return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                 }
                 $.ajaxSetup({
                     beforeSend: function(xhr, settings) {
                         if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                             xhr.setRequestHeader("X-CSRFToken", csrft);
                         }
                     }
                 });          
             if (window.location.protocol == "http:") {
                     
                 
                 data = {"IP":IP}
                 jQuery.post("/chat/",data, function(response){
                         
                      });
            };
            var msgArea = $('#msgArea')
            var elementMessage = $('#message')
            if (window.location.protocol == "https:") {
//               var webSocket = new WebSocket('wss://' + window.location.host + '/chat'); 
              var webSocket = new ReconnectingWebSocket('wss://' + window.location.host + '/chat');
            } else {
              var webSocket = new ReconnectingWebSocket('ws://' + window.location.host + '/chat');
            };            

            webSocket.onmessage = function(message) {
                var data = JSON.parse(message.data)

                if (data.time == '0'){
                     $('#privat_chat_color').css('color', 'red');
                     msgArea.append('<p style="color:#ccbbaa">'+   data.time  + "  " + '<strong>' + data.username + '</strong>: ' + data.message + '</p>')
                }
                else {
                    msgArea.append('<p>'+   data.time  + "  " + '<strong>' + data.username + '</strong>: ' + data.message + '</p>')

                }
                var height = msgArea[0].scrollHeight;
                msgArea.scrollTop(height);
            }
            $('#btnSend').click(function(e) {

                    webSocket.send(elementMessage.val());

                    $('#message')[0].value = "";
                    $('#message')[0].focus();

            })
        })
    </script>
{% endblock %}
{% block content %}
<p style="color:blue"> Common Chat </p>
<div style="min-height: 400px; max-height: 400px; overflow-y: auto; background-color: #f0f0f0" id="msgArea"></div>

<div>
    <textarea style=" width:80%; vertical-align:bottom" name="message" id="message"  rows="2"></textarea>
    <button id="btnSend">Send</button>
    <!--     {% if log %} 
      <button id="btnSend">Send</button>
    {% else %}
      <p> Only logged users can send messages </p>
    {% endif %} -->
</div>
{% csrf_token %}
{% endblock %}

